body {
    background-color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: yellowgreen;
}

th,
td {
    border: 1px solid grey;
    padding: 5px 8px;
    text-align: left;
    max-width: 16.66%;
}

th:first-child,
td:first-child {
    max-width: 10%;
    /* Reduced to make the first column narrower */
    width: auto;
}

th {
    background-color: grey;
}

.scrollable {
    height: 60px;
    overflow-y: auto;
    overflow-x: hidden;
}